perplexia_ai/RAGDataset/2019-annual-performance-report.pdf
perplexia_ai/RAGDataset/2020-annual-performance-report.pdf
perplexia_ai/RAGDataset/2021-annual-performance-report.pdf
perplexia_ai/RAGDataset/2022-annual-performance-report.pdf
.env
